.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.previ-uploaded {
  padding: 20px;
}

.home-go {
  font-size: 18px;
  padding: 20px;
}
