.file-upload-container {
  display: flex;
  padding: 20px 15px;
  justify-content: space-around;
  margin-bottom: 100px;
}

.file-upload-container .preview-img-div {
  width: 400px;
  height: 400px;
}

.preview-img-div img {
  width: 100%;
}

input[type='file'] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.error {
  color: tomato;
}

.modal {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background: rgba(0, 0, 0, 0.59);
  color: white;
  text-align: center;
}
.modal-closed {
  display: none;
}
